<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chuck_norris_app_native">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>


    <application
        android:allowBackup="true"
        android:icon="@drawable/chuck_norris"
        android:label="@string/app_name"
        android:roundIcon="@drawable/chuck_norris"
        android:supportsRtl="true"
        android:theme="@style/Theme.Chucknorrisappnative">


        <activity android:name=".feature.showPhrase.ui.activity.ShowPhraseActivity" android:exported="true"/>
        <activity
            android:name=".feature.splash.ui.activity.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>